<p-dropdown  [options]="lista" [(ngModel)]="url" optionLabel="nombre" [showClear]="true" placeholder="Selecciona una accion"></p-dropdown>
@if(url){

    @if(url.requireId==true){
        <br>
        <label>Escribe el id</label> <br>
        <input type="number" [(ngModel)]="genericID">
        <br>
    }
    @if(url.verbo=='post'){
        @switch (url.tabla) {
        @case ('user') {
         <br>   description <input type="text" [(ngModel)]="userForm.description">
        <br> 
        difficulty 
        <select name="" [(ngModel)]="userForm.difficulty" id="">
            <option [selected] value="s">s</option>
            <option value="m">m</option>
            <option value="l">l</option>
            <option value="xl">xl</option>
        </select>
        <br>  time_estimated <input type="number" [(ngModel)]="userForm.time_estimated">
        }
        @default {}
        }
    }
    @if(url.verbo=='get'){
        @switch (url.tabla) {

        @case ('user') {
            @if(url.requireId){
                <br>   id :<span>{{userView.id}}</span> 
                <br>   description :<span>{{userView.description}}</span> 
                <br>  difficulty : <span>{{userView.difficulty}}</span>
                <br>  time_estimated : <span>{{userView.time_estimated}}</span>
                <br>  time_dedicated : <span>{{userView.time_dedicated}}</span>
                <br>  assignment : <span>{{userView.assignment}}</span>
            }@else {
                <table>
                    <thead>
                        <th>id</th>
                        <th>description</th>
                        <th>difficulty</th>
                        <th>time_estimated</th>
                        <th>time_dedicated</th>
                        <th>assignment</th>
                        <th></th>
                    </thead>
                    <tbody>
                        @for (task of userList; track task.id) {
                            <tr>
                                <td>{{task.id}}</td>
            
                                <td>{{task.description}}</td>
                                <td>{{task.difficulty}}</td>
                                <td>{{task.time_estimated}}</td>
                                <td>{{task.time_dedicated}}</td>
                                <td>{{task.assignment}}</td>
                                <!-- @if(user.assigned_rols){
                                    <td>
                                        <p-dropdown  [options]="user.assigned_rols" [(ngModel)]="rolUserSelect" optionLabel="description" [showClear]="true" placeholder="Roles"></p-dropdown>
                                    </td>
                                } -->
                            </tr>
                        }
                        
                    </tbody>
                </table>
            }
        }
        @default {}
        }
    }
    @if(url.verbo=='put'){
        @switch (url.tabla) {
        @case ('user') {
            <!-- <br>  password<input type="text" [(ngModel)]="userForm.password"> -->
        }
        @default {}
        }
    }


    <br>
    <button (click)="enviarPeticion()">Enviar enviarPeticion</button>
}
