<p-dropdown  [options]="lista" [(ngModel)]="url" optionLabel="nombre" [showClear]="true" placeholder="Selecciona una accion"></p-dropdown>
@if(url){

    @if(url.requireId==true){
        <br>
        <label>Escribe el id</label> <br>
        <input type="number" [(ngModel)]="genericID">
        <br>
    }
    @if(url.verbo=='post'){
        @switch (url.tabla) {
        @case ('task') {
         <br>   description <input type="text" [(ngModel)]="userForm.description">
        <br> 
        difficulty 
        <select name="" [(ngModel)]="userForm.difficulty" id="">
            <option [selected] value="s">s</option>
            <option value="m">m</option>
            <option value="l">l</option>
            <option value="xl">xl</option>
        </select>
        <br>  time_estimated <input type="number" [(ngModel)]="userForm.time_estimated">
        }
        @default {}
        }
    }
    @if(url.verbo=='get'){
        @switch (url.tabla) {

        @case ('task') {
            @if(url.requireId){
                <br>   id :<span>{{userView.id}}</span> 
                <br>   description :<span>{{userView.description}}</span> 
                <br>  difficulty : <span>{{userView.difficulty}}</span>
                <br>  time_estimated : <span>{{userView.time_estimated}}</span>
                <br>  time_dedicated : <span>{{userView.time_dedicated}}</span>
                @if(userView.assignment==null){
                    <br>  assignment : <span>sin asignar</span>
                }@else {
                    <br>  assignment : <span>{{userView.assignment}}</span>
                }
                <br>  progress : <span>{{userView.progress}}</span>
                <br>  done : <span>{{userView.done}}</span>
                @if(url.nombre=='RECOMENDACION'){
                    <br><h5>Este algorítmo solo funciona si se han introducido datos en la aplicación anteriormente</h5>
                   <h5>El id debe ser de una tarea que no este asignada y que este sin realizar</h5>
                    <h5>Los usuarios que se recomendarán son usuarios que no cuentan con tareas asignadas</h5>
                    <table>
                        <thead>
                            <th>id</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>email</th>
                            <th>puntuación</th>
                        </thead>
                        <tbody>
                            @for (user of recomendacion; track user.id) {
                                <tr>
                                    <td>
                                        {{user.id}}
                                    </td>
                                    <td>
                                        {{user.first_name}}
                                    </td>
                                    <td>
                                        {{user.last_name}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td>
                                        {{user.points}}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }@else {
                <table>
                    <thead>
                        <th>id</th>
                        <th>description</th>
                        <th>difficulty</th>
                        <th>time_estimated</th>
                        <th>time_dedicated</th>
                        <th>assignment</th>
                        <th>progress</th>
                        <th>done</th>
                    </thead>
                    <tbody>
                        @for (task of userList; track task.id) {
                            <tr>
                                <td>{{task.id}}</td>
            
                                <td>{{task.description}}</td>
                                <td>{{task.difficulty}}</td>
                                <td>{{task.time_estimated}}</td>
                                <td>{{task.time_dedicated}}</td>
                                @if(task.assignment!=null){
                                    <td>{{task.assignment}}</td>
                                }@else {
                                    <td>sin asignar</td>
                                }
                          
                                <td>{{task.progress}}</td>
                                <td>{{task.done}}</td>
                                <!-- @if(user.assigned_rols){
                                    <td>
                                        <p-dropdown  [options]="user.assigned_rols" [(ngModel)]="rolUserSelect" optionLabel="description" [showClear]="true" placeholder="Roles"></p-dropdown>
                                    </td>
                                } -->
                            </tr>
                        }
                        
                    </tbody>
                </table>
            }
        }
        @default {}
        }
    }
    @if(url.verbo=='put'){
        @if(url.change){
            @switch (url.change) {
                @case ('progress') {
                   <br>
                   Introduce el progreso 
                   <br>
                   <input type="number" [(ngModel)]="userForm.progress">
                }
                @case ('assignment') {
                    <br>
                    Introduce el id del trabajador para asignar
                    <br>
                    <input type="number" [(ngModel)]="userForm.assignment">
                 }
                 @case ('full') {
                    <br>   Introduce la descripción <input type="text" [(ngModel)]="userForm.description">
                    <br> 
                    Introduce la dificultad
                    <select name="" [(ngModel)]="userForm.difficulty" id="">
                        <option [selected] value="s">s</option>
                        <option value="m">m</option>
                        <option value="l">l</option>
                        <option value="xl">xl</option>
                    </select>
                    <br>
                    Introduce el id del trabajador para asignar
                    <br>
                    <input type="number" [(ngModel)]="userForm.assignment">
                    <br>
                    Introduce el progreso 
                    <br>
                    <input type="number" [(ngModel)]="userForm.progress">
                    <br>
                    Introduce el tiempo estimado 
                    <br>
                    <input type="number" [(ngModel)]="userForm.time_estimated">
                    <br>
                    Introduce el tiempo tiempo dedicado 
                    <br>
                    <input type="number" [(ngModel)]="userForm.time_dedicated">
                    <br>
                    Introduce si esta finalizada 
                    <br>
                    <select name="" [(ngModel)]="userForm.done" id="">
                        <option [selected] value="false">sin finalizar</option>
                        <option value="true">finalizada</option>
                      
                    </select>
                 }
                @default {}
            }
        }   
    }


    <br>
    <button (click)="enviarPeticion()">Enviar enviarPeticion</button>
}
